<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magicalrice.adolph.custom_view" >
    <application
        android:name="debug.CustomViewApplication"
        android:icon="@mipmap/co_ic_launcher"
        android:label="@string/co_custom_view"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

    </application>
</manifest>
