<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magicalrice.adolph.custom_animation" >
    <application
        android:name="debug.CustomAnimationApplication"
        android:icon="@mipmap/co_ic_launcher"
        android:label="@string/co_custom_animation"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

    </application>
</manifest>
