<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magicalrice.library_study" >
    <application
        android:name="debug.LibraryStudyApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:label="@string/co_library_study"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".coordinatorlayout.CoordinatorLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>